<div class="container flex container" id="sendPokemonContainer">
        <h4>Part Three Of The Lab Here</h4>
        <h6>Enter the Number of your Pokemon to Change the Name</h6>
        <div class="search-container col-md-5 col-sm-5">
            <form method="PUT" action="/db/:id">
            <input  name="pokemonNumber4" value="" type="text" class="form-control" id="pokemonNumber2" placeholder="Number">
            <input  name="pokemonName4" value="" type="text" class="form-control" id="pokemonName2" placeholder="Name">
            <input type="submit" value="PUT">
            <input type="submit" value="POST">
            <input type="submit" value="GET">
            <input type="submit" value="DELETE">
            </form>
        </div>
</div>
